.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 2px solid #000000;
}

.navleft h1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    font-size: 40px;
}

.navleft{
    display: flex;
    width: 30%;
}
  
.navright {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}


.navright a {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: 20px;
}

.navright :hover {
    background-color: grey;
    border: black 1px solid;
    border-radius: 10%;
}